<h1>Welcome to inline_forms!</h1>

<p>
  Create the file<br/>
  <em>app/views/devise/inline_forms/_content_for_devise_login.html.erb</em><br />
  and the contents will be displayed here.
</p>
<p>
  Change application title, title_for_devise, welcome_for_devise in<br />
  <em>config/locales/inline_forms.en.yml</em><br />
</p>
  
