<% if cancan_disabled? || ( can? :soft_delete, @object ) %>
  <div  class="small-1 column">
    <%= link_to_soft_delete(@object, @update_span) -%>
    <%= link_to_destroy(@object, @update_span) -%>
  </div>
  <div  class="small-11 column">
    <%= link_to h(@object._presentation), send(@object.class.to_s.underscore + "_path", @object, :update => @update_span), :remote => true -%>
  </div>
<% else %>
  <div  class="small-12 column">
    <%= link_to h(@object._presentation), send(@object.class.to_s.underscore + "_path", @object, :update => @update_span), :remote => true -%>
  </div>
<% end %>
