<% form_tag  send(@Klass.to_s.underscore.pluralize + '_path', :update => @update_span || 'inline_forms_list' ),
  :multipart => true, :remote => true, :class  => "edit_form"  do -%>
  <div class="edit_form_field">
    <%= inline_forms_new_record @object %>
  </div>
  <%= link_to( send(@Klass.to_s.underscore.pluralize + '_path',:update => @update_span || 'inline_forms_list'), :remote => true,
    :class  => "edit_form_cancel" ) do  %>
    <input type="button" name="cancel" value="cancel" />
<% end %>
  <%= submit_tag "ok", :class => "edit_form_submit"-%>
  <div style="clear: both;"></div>
<% end -%>
