<table cellpadding="0" cellspacing="0" class="subform">
  <% @associated_record.inline_forms_field_list.each do | @subform_field, (@subform_description, @subform_element, @values)  | %>
    <tr>
      <td valign="top">
        <div class="subform_field-name">
          <%= h(@subform_description) %>
        </div>
      </td>
      <td valign="top">
        <div class="subform_field-value">
          <%= send("#{@subform_element}_edit", @associated_record, @subform_field.to_s, @values) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
