<% form_remote_tag :update => @update_span || @form_element == "associated" ? @sub_id && @sub_id.to_i > 0 ? "field_#{@field.singularize}_#{@sub_id}" : "list_#{@field}_#{@object.id.to_s}" : "field_#{@field}_#{@object.id.to_s}",
 :url => "/#{@Klass_pluralized}/#{params[:id]}?field=#{@field}&form_element=#{@form_element}&values=#{@values}&sub_id=#{@sub_id}",
  :method => :put,
  :multipart => true,
  :html => { :class  => "edit_form" } do -%>
  <div class="edit_form_field">
    <%= send("#{@form_element.to_s}_edit", @object, @field, @values) %>
  </div>
  <%= link_to_remote "nee",
    :url => "/#{@Klass_pluralized}/#{params[:id]}?field=#{@field}&form_element=#{@form_element}&values=#{@values}&sub_id=#{@sub_id}",
    :method => :get,
    :html => { :class  => "edit_form_cancel" },
    :update => @update_span || "field_#{@field}_#{@object.id.to_s}" -%>
  <%= submit_tag "ok", :class => "edit_form_submit"-%>
  <div style="clear: both;"></div>
<% end -%>

