<% if !flash.empty? %>
  <div id='inline_forms_devise_flash_div' class='row'>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'devise flash' %>
    <% end %>
  </div>
<% end %>
