
<%= render 'top-bar-and-flash' %>

<div class="row" id='inline_forms_devise_welcome_row'>
  <div class="small-11 centered column">
    <h1><%= t('inline_forms.general.welcome_for_devise') %></h1>
  </div>
</div>

<div id='inline_forms_devise_new_login_session' class="row">

  <div id='inline_forms_devise_form_column' class="large-5 columns">

    <%= render 'form' %>

  </div>

  <div id='inline_forms_devise_content_column' class="large-7 columns">

    <div class="hide-for-large-up row text-centered">
      <hr />
    </div>

    <div id='content_for_devise_login' class="row">
      <%= render '/devise/inline_forms/content_for_devise_login' %>
    </div>

  </div>

</div>
