<!DOCTYPE html>
<html>
<head>
  <title><%= t('application.name') + " v" + InlineForms::VERSION -%></title>
  <%= stylesheet_link_tag 'devise' %>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
