<nav id='inline_forms_application_header' class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= application_title %> v<%= inline_forms_version %></a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>
  <section class="top-bar-section" id="logout">
    <ul class="right">
      <li class="has-dropdown">
        <a href="#"><%= current_user.name %></a>
        <ul class="dropdown">
          <li>
            <%= link_to("Afmelden...", destroy_user_session_path, :method => :delete) if current_user  %>
          </li>
        </ul>
      </li>
    </ul>
  </section>

</nav>
