<% css_class_id = "#{@object.class.name.underscore}_#{@object.id}_versions" -%>
<div class="row form_element_header associated_auto_header callout">
  <div class='medium-11 large-11 column' >
    <%= "Versions (#{@object.versions.length})" %>
  </div>
  <div class='medium-1 large-1 column'>
      <%= link_to_versions_list(
            'list_versions_' + @object.class.to_s.underscore + "_path",
            @object,
            css_class_id
          )
        %>
  </div>
</div>
