/* 
    Document   : devise
    Created on : May 25, 2011, 10:00:55 AM
    Author     : ace
    Description:
        Purpose of the stylesheet follows.
*/

body {
    width: 70%;
    margin: 0 auto;
    background-color: #3399cc;
}

#large_title {
    font-size: 700%;
    text-align: center;
    color: #fff;
    background-color: #99ccff;
    margin: 20px 50px 0px 50px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0, .4);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0, .4);
}

#flash_message {
    margin: 5px 50px 5px 50px;
    background-color: #ffcc99;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0, .4);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0, .4);
    text-align: center;
    font-size: 120%;
    padding: 1.4em 1em 1.2em 1em;
}

#error_explanation h2, ul {
    font-size: 80%
}


#sign_in {
    margin: 0px 50px 40px 50px;
    background-color: #99ccff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0, .4);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0, .4);
    text-align: center;
    padding-top: 1em;
}

input {
    height: 1.5em;
    width: 14em;
    border: 1px solid antiquewhite;
    margin-bottom: 4px;
    background-color: #ffcc99;
}

.float_right {
    float: right;
    width: 70%;
    text-align: right;
    margin-right: 30%;
    color: white;
    margin-bottom: 0.2em;
}

.field_with_errors {
    display: inline;
}

#reseller_submit {
    width: 30%;
    margin-bottom: 0.5em;
    font-size: 175%;
    padding: 0.1em 0.3em 0.2em 0.3em;
    background-color: antiquewhite;
}

#shared_links {
    margin: 5px 50px 5px 50px;
    color: #fff;
}

#shared_links a {
    font-size: 80%;
    color: #fff;
}


