<!DOCTYPE html>
<html>
<head>
  <title>RumboTS</title>
  <%= stylesheet_link_tag 'devise' %>
  <%#= javascript_include_tag :defaults %>
  <%#= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
