<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "xyxyxyx") %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'inline_forms' %>
    <%= javascript_include_tag :defaults, 'jquery.form', 'jquery.remotipart' %>
    <%= yield(:head) %>
  </head>
<%#= calendar_date_select_includes "red" %>
  <body>
 <%= render "/inline_forms_tabs" %>
    <ul id="inline_forms_list">
      <%= yield %>
    </ul>
  </body>
</html>
