<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "xyxyxyx") %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'inline_forms', 'jquery-ui-sunny' %>
    <%= javascript_include_tag :defaults, 'jquery.form', 'jquery.remotipart', :ckeditor %>
    <%= yield(:head) %>
    <script>
      $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        showButtonPanel: false,
        showWeek: true,
        firstDay: 1,
        prevText: '<<',
        nextText: '>>'
      })
    </script>
  </head>
  <body>
    <%= render "inline_forms/header" %>
    <%= render "/inline_forms_tabs" %>
    <%= yield %>
  </body>
</html>
